In [11]:
import pandas as pd
import numpy as np

In [12]:
data = ["pandas", "Matplotlib","Numpy"]
s=pd.Series(data)
s

0        pandas
1    Matplotlib
2         Numpy
dtype: object

In [13]:
s = pd.Series([2, np.nan, 7, -3, 0])
s

0    2.0
1    NaN
2    7.0
3   -3.0
4    0.0
dtype: float64

In [14]:
sample = pd.Series([3, -5, 7, 4, 145, 2, 0, -15], index=['a', 'b', 'c', 'd', 'e','f', 'g', 'h'])

print(sample[3])

print(sample['d'])

print(sample[:5])

4
4
a      3
b     -5
c      7
d      4
e    145
dtype: int64

C:\Users\mkrti\AppData\Local\Temp\ipykernel_19640\3946321920.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sample[3])

To reveal all the indexes we use index method. Size method shows the number of the elements

In [15]:
print(sample.index)
print(sample.size)

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')
8

Trigonometric functions with the help of numpy

In [19]:
print(np.sin(sample), '\n')
print(np.cos(sample), '\n')
print(np.tan(sample), '\n')

a    0.141120
b    0.958924
c    0.656987
d   -0.756802
e    0.467745
f    0.909297
g    0.000000
h   -0.650288
dtype: float64

a   -0.989992
b    0.283662
c    0.753902
d   -0.653644
e    0.883863
f   -0.416147
g    1.000000
h   -0.759688
dtype: float64

a   -0.142547
b    3.380515
c    0.871448
d    1.157821
e    0.529205
f   -2.185040
g    0.000000
h    0.855993
dtype: float64

Filtering

In [20]:
print(sample[(sample>0) & (sample<4)])

a    3
f    2
dtype: int64

In [23]:
sample['test'] = 1000
sample

a          3
b         -5
c          7
d          4
e        145
f          2
g          0
h        -15
test    1000
dtype: int64

In [24]:
sample.drop(labels = ['test'])

a      3
b     -5
c      7
d      4
e    145
f      2
g      0
h    -15
dtype: int64

pd.read_excel('file.xlsx) reads from the excel file
pd.read_csv('file.csv)

In [29]:
df = pd.read_csv(r'C:/Users/mkrti/OneDrive/Документы/Python projects/Source Data/country_indicators.csv')

In [32]:
df.head(10)

,Country,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
0,United States,25463,4.9,5.50,3.10,3.7,-5.80,129.00,-3.7,334.23
1,China,17963,1.3,3.45,-0.50,5.0,-7.40,77.10,2.2,1411.75
2,Euro Area,14041,-0.1,4.50,2.40,6.5,-3.60,90.90,-0.6,342.89
3,Japan,4231,-0.7,-0.10,2.80,2.5,-6.40,263.90,1.9,124.95
4,Germany,4072,-0.1,4.50,3.20,5.9,-2.50,66.10,4.4,84.40
5,India,3385,1.9,6.50,5.55,7.1,-6.44,89.26,-2.6,1373.76
6,United Kingdom,3071,-0.1,5.25,3.90,4.2,-5.00,97.10,-5.6,67.79
7,France,2783,-0.1,4.50,3.50,7.4,-4.80,111.80,-2.0,67.84
8,Russia,2240,-0.8,16.00,7.50,2.9,-1.50,17.20,10.3,145.60
9,Canada,2140,-0.3,5.00,3.10,5.8,-3.60,107.00,-0.4,39.29

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          180 non-null    object
 1   GDP              180 non-null    int64
 2   GDP Growth       104 non-null    float64
 3   Interest Rate    168 non-null    float64
 4   Inflation Rate   179 non-null    float64
 5   Jobless Rate     178 non-null    float64
 6   Gov. Budget      174 non-null    float64
 7   Debt/GDP         172 non-null    float64
 8   Current Account  175 non-null    float64
 9   Population       180 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 14.2+ KB

In [36]:
df.describe

<bound method NDFrame.describe of                    Country    GDP  GDP Growth  Interest Rate  Inflation Rate  \
0            United States  25463         4.9           5.50            3.10
1                    China  17963         1.3           3.45           -0.50
2                Euro Area  14041        -0.1           4.50            2.40
3                    Japan   4231        -0.7          -0.10            2.80
4                  Germany   4072        -0.1           4.50            3.20
..                     ...    ...         ...            ...             ...
175                 Gambia      2         NaN          17.00           18.40
176          Guinea Bissau      2         NaN           5.25            3.80
177             Seychelles      2         NaN           2.00           -2.65
178  Sao Tome and Principe      1         NaN          10.00           13.01
179                Comoros      1         NaN           3.08            8.00

     Jobless Rate  Gov. Budget  Debt/GDP  Current Account  Population
0             3.7         -5.8     129.0             -3.7      334.23
1             5.0         -7.4      77.1              2.2     1411.75
2             6.5         -3.6      90.9             -0.6      342.89
3             2.5         -6.4     263.9              1.9      124.95
4             5.9         -2.5      66.1              4.4       84.40
..            ...          ...       ...              ...         ...
175           4.8         -4.8      80.8             -5.3        2.42
176           3.6         -5.5      41.1             -1.1        2.11
177           4.0         -1.7      65.0             -8.0        0.10
178          15.3         -7.2      88.0            -19.4        0.23
179           8.8         -3.0      31.6             -0.5        0.84

[180 rows x 10 columns]>

Removing the limit of displayed columns

In [35]:
pd.options.display.max_columns

20

In [39]:
print(df.shape,'\n')
print(df.size, '\n')

(180, 10)

1800