In [3]:
import pandas as pd
import numpy as np

In [4]:
data = ["pandas", "Matplotlib","Numpy"]
s=pd.Series(data)
s

0        pandas
1    Matplotlib
2         Numpy
dtype: object

In [5]:
s = pd.Series([2, np.nan, 7, -3, 0])
s

0    2.0
1    NaN
2    7.0
3   -3.0
4    0.0
dtype: float64

In [6]:
sample = pd.Series([3, -5, 7, 4, 145, 2, 0, -15], index=['a', 'b', 'c', 'd', 'e','f', 'g', 'h'])

print(sample[3])

print(sample['d'])

print(sample[:5])

4
4
a      3
b     -5
c      7
d      4
e    145
dtype: int64

C:\Users\mkrti\AppData\Local\Temp\ipykernel_30132\3946321920.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sample[3])

To reveal all the indexes we use index method. Size method shows the number of the elements

In [7]:
print(sample.index)
print(sample.size)

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')
8

Trigonometric functions with the help of numpy

In [8]:
print(np.sin(sample), '\n')
print(np.cos(sample), '\n')
print(np.tan(sample), '\n')

a    0.141120
b    0.958924
c    0.656987
d   -0.756802
e    0.467745
f    0.909297
g    0.000000
h   -0.650288
dtype: float64

a   -0.989992
b    0.283662
c    0.753902
d   -0.653644
e    0.883863
f   -0.416147
g    1.000000
h   -0.759688
dtype: float64

a   -0.142547
b    3.380515
c    0.871448
d    1.157821
e    0.529205
f   -2.185040
g    0.000000
h    0.855993
dtype: float64

Filtering

In [9]:
print(sample[(sample>0) & (sample<4)])

a    3
f    2
dtype: int64

In [10]:
sample['test'] = 1000
sample

a          3
b         -5
c          7
d          4
e        145
f          2
g          0
h        -15
test    1000
dtype: int64

In [11]:
sample.drop(labels = ['test'])

a      3
b     -5
c      7
d      4
e    145
f      2
g      0
h    -15
dtype: int64

pd.read_excel('file.xlsx) reads from the excel file
pd.read_csv('file.csv)

In [12]:
df = pd.read_csv(r'C:/Users/mkrti/OneDrive/Документы/Python projects/Source Data/country_indicators.csv')

In [13]:
df.head(10)

,Country,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
0,United States,25463,4.9,5.50,3.10,3.7,-5.80,129.00,-3.7,334.23
1,China,17963,1.3,3.45,-0.50,5.0,-7.40,77.10,2.2,1411.75
2,Euro Area,14041,-0.1,4.50,2.40,6.5,-3.60,90.90,-0.6,342.89
3,Japan,4231,-0.7,-0.10,2.80,2.5,-6.40,263.90,1.9,124.95
4,Germany,4072,-0.1,4.50,3.20,5.9,-2.50,66.10,4.4,84.40
5,India,3385,1.9,6.50,5.55,7.1,-6.44,89.26,-2.6,1373.76
6,United Kingdom,3071,-0.1,5.25,3.90,4.2,-5.00,97.10,-5.6,67.79
7,France,2783,-0.1,4.50,3.50,7.4,-4.80,111.80,-2.0,67.84
8,Russia,2240,-0.8,16.00,7.50,2.9,-1.50,17.20,10.3,145.60
9,Canada,2140,-0.3,5.00,3.10,5.8,-3.60,107.00,-0.4,39.29

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          180 non-null    object
 1   GDP              180 non-null    int64
 2   GDP Growth       104 non-null    float64
 3   Interest Rate    168 non-null    float64
 4   Inflation Rate   179 non-null    float64
 5   Jobless Rate     178 non-null    float64
 6   Gov. Budget      174 non-null    float64
 7   Debt/GDP         172 non-null    float64
 8   Current Account  175 non-null    float64
 9   Population       180 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 14.2+ KB

In [15]:
df.describe

<bound method NDFrame.describe of                    Country    GDP  GDP Growth  Interest Rate  Inflation Rate  \
0            United States  25463         4.9           5.50            3.10
1                    China  17963         1.3           3.45           -0.50
2                Euro Area  14041        -0.1           4.50            2.40
3                    Japan   4231        -0.7          -0.10            2.80
4                  Germany   4072        -0.1           4.50            3.20
..                     ...    ...         ...            ...             ...
175                 Gambia      2         NaN          17.00           18.40
176          Guinea Bissau      2         NaN           5.25            3.80
177             Seychelles      2         NaN           2.00           -2.65
178  Sao Tome and Principe      1         NaN          10.00           13.01
179                Comoros      1         NaN           3.08            8.00

     Jobless Rate  Gov. Budget  Debt/GDP  Current Account  Population
0             3.7         -5.8     129.0             -3.7      334.23
1             5.0         -7.4      77.1              2.2     1411.75
2             6.5         -3.6      90.9             -0.6      342.89
3             2.5         -6.4     263.9              1.9      124.95
4             5.9         -2.5      66.1              4.4       84.40
..            ...          ...       ...              ...         ...
175           4.8         -4.8      80.8             -5.3        2.42
176           3.6         -5.5      41.1             -1.1        2.11
177           4.0         -1.7      65.0             -8.0        0.10
178          15.3         -7.2      88.0            -19.4        0.23
179           8.8         -3.0      31.6             -0.5        0.84

[180 rows x 10 columns]>

Removing the limit of displayed columns

In [16]:
pd.options.display.max_columns

20

df information
shape, size, number of dimensions, column names etc.

In [20]:
print(df.shape,'\n')
print(df.size, '\n')
print(df.ndim, '\n')
print(df.count())
print(df.index,' ', df.columns, '\ n')

(180, 10)

1800

2

Country            180
GDP                180
GDP Growth         104
Interest Rate      168
Inflation Rate     179
Jobless Rate       178
Gov. Budget        174
Debt/GDP           172
Current Account    175
Population         180
dtype: int64
RangeIndex(start=0, stop=180, step=1)   Index(['Country', 'GDP', 'GDP Growth', 'Interest Rate', 'Inflation Rate',
       'Jobless Rate', 'Gov. Budget', 'Debt/GDP', 'Current Account',
       'Population'],
      dtype='object') \ n

In [21]:
df.value_counts()

Country      GDP    GDP Growth  Interest Rate  Inflation Rate  Jobless Rate  Gov. Budget  Debt/GDP  Current Account  Population
Albania      19      2.30       3.25           3.90            10.5          -3.70        64.60     -6.0             2.79          1
Algeria      192     0.80       3.00           8.20            11.6          -0.20        52.40      9.5             44.90         1
Russia       2240   -0.80       16.00          7.50            2.9           -1.50        17.20      10.3            145.60        1
Romania      301     0.90       7.00           6.72            5.4           -6.30        47.20     -9.1             19.04         1
Qatar        237     0.50       6.25           1.29            0.1            0.00        46.90      26.0            2.91          1
                                                                                                                                  ..
Finland      281    -0.90       4.50           3.30            6.8           -0.80        73.30     -2.5             5.56          1
Euro Area    14041  -0.10       4.50           2.40            6.5           -3.60        90.90     -0.6             342.89        1
Estonia      38     -1.30       4.50           4.00            7.3           -1.00        18.50     -3.2             1.33          1
El Salvador  32      0.66       5.02           2.11            5.0           -1.81        78.03     -8.3             6.34          1
Vietnam      409     6.88       4.50           3.58            2.3           -3.41        37.10     -0.9             99.50         1
Name: count, Length: 104, dtype: int64

The result (counts) will be a Pandas Series where the unique values in the 'GDP' column are the index, and the corresponding values are the counts of each unique value.

In [22]:
df.value_counts('GDP')

GDP
13       6
2        6
15       4
3        4
4        4
        ..
127      1
11       1
114      1
12       1
25463    1
Name: count, Length: 117, dtype: int64

number of values

In [26]:
df['GDP']. value_counts()

GDP
2        6
13       6
19       4
15       4
3        4
        ..
471      1
114      1
17963    1
127      1
25463    1
Name: count, Length: 117, dtype: int64

In [29]:
df[['Country', 'GDP']]

                   Country    GDP
0            United States  25463
1                    China  17963
2                Euro Area  14041
3                    Japan   4231
4                  Germany   4072
..                     ...    ...
175                 Gambia      2
176          Guinea Bissau      2
177             Seychelles      2
178  Sao Tome and Principe      1
179                Comoros      1

[180 rows x 2 columns]

In [32]:
df.iloc[5]

Country              India
GDP                   3385
GDP Growth             1.9
Interest Rate          6.5
Inflation Rate        5.55
Jobless Rate           7.1
Gov. Budget          -6.44
Debt/GDP             89.26
Current Account       -2.6
Population         1373.76
Name: 5, dtype: object

 Add an index with the first two letters of the 'Country' column

In [33]:
df['Index'] = df['Country'].str[:2]

Set the new 'Index' column as the index

In [34]:
df.set_index('Index', inplace=True)

In [35]:
print(df)

                     Country    GDP  GDP Growth  Interest Rate  \
Index
Un             United States  25463         4.9           5.50
Ch                     China  17963         1.3           3.45
Eu                 Euro Area  14041        -0.1           4.50
Ja                     Japan   4231        -0.7          -0.10
Ge                   Germany   4072        -0.1           4.50
...                      ...    ...         ...            ...
Ga                    Gambia      2         NaN          17.00
Gu             Guinea Bissau      2         NaN           5.25
Se                Seychelles      2         NaN           2.00
Sa     Sao Tome and Principe      1         NaN          10.00
Co                   Comoros      1         NaN           3.08

       Inflation Rate  Jobless Rate  Gov. Budget  Debt/GDP  Current Account  \
Index
Un               3.10           3.7         -5.8     129.0             -3.7
Ch              -0.50           5.0         -7.4      77.1              2.2
Eu               2.40           6.5         -3.6      90.9             -0.6
Ja               2.80           2.5         -6.4     263.9              1.9
Ge               3.20           5.9         -2.5      66.1              4.4
...               ...           ...          ...       ...              ...
Ga              18.40           4.8         -4.8      80.8             -5.3
Gu               3.80           3.6         -5.5      41.1             -1.1
Se              -2.65           4.0         -1.7      65.0             -8.0
Sa              13.01          15.3         -7.2      88.0            -19.4
Co               8.00           8.8         -3.0      31.6             -0.5

       Population
Index
Un         334.23
Ch        1411.75
Eu         342.89
Ja         124.95
Ge          84.40
...           ...
Ga           2.42
Gu           2.11
Se           0.10
Sa           0.23
Co           0.84

[180 rows x 10 columns]

In [42]:
selected_row = df.loc['Ar']
print(selected_row)

         Country  GDP  GDP Growth  Interest Rate  Inflation Rate  \
Index
Ar     Argentina  633        2.72         100.00          160.90
Ar       Armenia   20         NaN           9.25           -0.49

       Jobless Rate  Gov. Budget  Debt/GDP  Current Account  Population
Index
Ar              5.7         -2.4     85.00             -0.7       46.24
Ar             11.7         -2.5     49.27              0.1        2.98

In [43]:
selected_rows = df.loc[['Co', 'Ch']]
print(selected_rows)

          Country    GDP  GDP Growth  Interest Rate  Inflation Rate  \
Index
Co       Colombia    344         0.2          13.00           10.15
Co     Costa Rica     68         1.9           6.00           -1.65
Co          Congo     58         NaN          25.00           37.60
Co        Comoros      1         NaN           3.08            8.00
Ch          China  17963         1.3           3.45           -0.50
Ch          Chile    301         0.3           8.25            4.80
Ch           Chad     13         NaN           5.00            1.90

       Jobless Rate  Gov. Budget  Debt/GDP  Current Account  Population
Index
Co              9.0         -4.3     63.60             -6.2       51.87
Co              8.1         -1.8     82.36             -4.3        5.16
Co             46.1         -2.8     14.60             -6.4       95.01
Co              8.8         -3.0     31.60             -0.5        0.84
Ch              5.0         -7.4     77.10              2.2     1411.75
Ch              8.7          1.1     38.00             -9.0       19.96
Ch              1.4          4.2     48.80              0.5       17.41