In [2]:
import pandas as pd
import numpy as np

In [3]:
data = ["pandas", "Matplotlib","Numpy"]
s=pd.Series(data)
s

0        pandas
1    Matplotlib
2         Numpy
dtype: object

In [4]:
s = pd.Series([2, np.nan, 7, -3, 0])
s

0    2.0
1    NaN
2    7.0
3   -3.0
4    0.0
dtype: float64

In [19]:
sample = pd.Series([3, -5, 7, 4, 145, 2, 0, -15], index=['a', 'b', 'c', 'd', 'e','f', 'g', 'h'])

print(sample[3])

print(sample['d'])

print(sample[:5])

4
4
a      3
b     -5
c      7
d      4
e    145
dtype: int64

C:\Users\mkrti\AppData\Local\Temp\ipykernel_2792\3946321920.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sample[3])

To reveal all the indexes we use index method. Size method shows the number of the elements

In [20]:
print(sample.index)
print(sample.size)

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')
8

Filtering

In [21]:
print(sample[(sample>0) & (sample<4)])

a    3
f    2
dtype: int64

In [23]:
pd.read_csv(r'C:/Users/mkrti/OneDrive/Документы/Python projects/Source Data/country_indicators.csv')

,Country,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
0,United States,25463,4.9,5.50,3.10,3.7,-5.8,129.0,-3.7,334.23
1,China,17963,1.3,3.45,-0.50,5.0,-7.4,77.1,2.2,1411.75
2,Euro Area,14041,-0.1,4.50,2.40,6.5,-3.6,90.9,-0.6,342.89
3,Japan,4231,-0.7,-0.10,2.80,2.5,-6.4,263.9,1.9,124.95
4,Germany,4072,-0.1,4.50,3.20,5.9,-2.5,66.1,4.4,84.40
...,...,...,...,...,...,...,...,...,...,...
175,Gambia,2,NaN,17.00,18.40,4.8,-4.8,80.8,-5.3,2.42
176,Guinea Bissau,2,NaN,5.25,3.80,3.6,-5.5,41.1,-1.1,2.11
177,Seychelles,2,NaN,2.00,-2.65,4.0,-1.7,65.0,-8.0,0.10
178,Sao Tome and Principe,1,NaN,10.00,13.01,15.3,-7.2,88.0,-19.4,0.23
179,Comoros,1,NaN,3.08,8.00,8.8,-3.0,31.6,-0.5,0.84