In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv(r"C:/Users/mkrti/OneDrive/Документы/Python projects/Pandas/Data for pandas/pandas_practice.csv")

In [6]:
df.head()

,Unnamed: 0,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col10,col11,col12,col13,col14,col15,col16,col17,col18,col19
0,0,NaN,0.8765618684233271,0.7862285167515535,0.05274983106392683,0.7680937337729782,0.5814375290884598,0.9743510099518713,0.16635181584779124,0.2433311979940389,...,0.2376661699935898,0.6559393994676592,0.9540057165018414,NaN,0.14219351284890336,0.2270360364474442,0.03405725861801134,0.8985547921036044,0.4893494853857129,0.438017
1,1,1.363871632720515,0.8759400724240313,NaN,0.7167954018596762,0.35892013365209263,0.45400877727484146,0.1327531985154624,0.05731509365295717,0.680782266588216,...,NaN,0.3202902874480844,0.032277399038750265,0.94778317578909,0.2576264772105119,NaN,0.4916204076769146,0.18964400921712954,0.9091074838733922,0.803830
2,2,0.46250540522142697,0.09609070017703092,0.9892276317622745,0.38071717161081564,0.055933440727765515,NaN,0.9727510194643018,0.5775155757721181,0.47701919123014747,...,0.827054263719971,0.5484539072367949,0.23272589562273038,0.13368419496268402,0.3081190690036466,0.8683911618013159,0.31356802973166265,0.858033161285296,0.3512020986733182,NaN
3,3,0.2759549441533207,0.11710503569658959,0.7001977471477516,0.9518259480303293,0.8983439647098156,0.2557577719987282,0.6168999775150803,0.6952079310379957,0.9359153970116605,...,0.7902621877843973,0.12443710092527738,0.5050556041137036,0.7278851934570026,0.03569429130825719,0.11043651384229347,0.6824772403676448,NaN,0.9895794893528944,0.800971
4,4,0.17800520060795572,0.015056134248370046,0.3656605641488656,0.11253546830774153,0.15819524013812436,0.12128531739603754,0.34563322130554663,0.483939077761082,0.06005270397601825,...,0.0034501888206290854,0.6775849781918636,NaN,0.352643786966801,NaN,NaN,0.21231721479897403,0.87167143326494,0.0063230085269403435,0.541588

In [14]:
df.tail()

,Unnamed: 0,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col10,col11,col12,col13,col14,col15,col16,col17,col18,col19
798,1.099836424170657,0.8752688098046626,0.6365634181845816,0.98825524172406,0.10586265091550262,0.1745637138837336,0.7548741134227136,0.32323156569299905,NaN,0.2376972934999967,...,0.6901151055732239,0.20092561340695192,0.7181127866367683,0.2922074211215192,0.06873039026037986,0.016850839049315725,0.9697490983204665,0.6514960218060404,0.506962634100583,NaN
799,0.7173965252377348,0.9431707226672083,0.2387654951164666,0.4819288932410568,0.9720334777264444,0.7592627558464896,0.08557705285156003,0.9700764270058824,0.23198834153960124,0.2058429569657122,...,0.6652989525148492,0.45767451712278073,0.3900213989792146,0.7987974210315579,0.9833600742187907,0.003611408962914564,0.14969656101624362,0.860417595547414,0.0732017720668744,NaN
800,0.2787844396050033,0.009450374137899287,0.06392509607999475,0.8700257768707972,0.4796042342278124,0.2971707938978475,0.7061830349266728,0.7998744622693801,0.7474872140008014,0.7037183910465463,...,0.12234398957532233,NaN,0.604561760979082,0.7201587561149108,0.9826727023689359,0.8674160657281369,0.27441412880566496,0.9208779472974442,0.22385125618036428,NaN
801,NaN,NaN,NaN,0.8555429798971551,0.18450426456919033,0.45130648612413493,0.10243696636939792,NaN,0.7588867438570385,0.03864826680853761,...,0.5175755413792663,0.8399952797940451,0.5611130867827722,0.10500705780431674,0.22939080768710596,0.9159098179069658,0.5418566389271673,0.7919474923830081,0.44004962766777633,NaN
802,0.4227618912916256,0.38637572509456086,0.3501053774260956,NaN,0.8165558714646763,0.9949487819054583,NaN,0.008304725143595815,0.3718686078754483,0.34365442898382903,...,0.3818570113088007,NaN,0.15958176819311543,0.04975846977783127,0.284807580523315,0.2152874941935331,0.6249992212479011,0.47334813581027746,0.05545435983898239,NaN

In [15]:
print(pd.options.display.max_rows)

60

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803 entries, 0 to 802
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  695 non-null    object
 1   col0        710 non-null    object
 2   col1        724 non-null    object
 3   col2        729 non-null    object
 4   col3        731 non-null    object
 5   col4        728 non-null    object
 6   col5        727 non-null    object
 7   col6        730 non-null    object
 8   col7        728 non-null    object
 9   col8        730 non-null    object
 10  col9        725 non-null    object
 11  col10       723 non-null    object
 12  col11       723 non-null    object
 13  col12       726 non-null    object
 14  col13       724 non-null    object
 15  col14       729 non-null    object
 16  col15       737 non-null    object
 17  col16       730 non-null    object
 18  col17       733 non-null    object
 19  col18       732 non-null    object
 20  col19       182 non-null    float64
dtypes: float64(1), object(20)
memory usage: 131.9+ KB

In [20]:
df.size

16863

In [29]:
new_df=df.df = df.fillna(random_values)

NameError: name 'random_values' is not defined

In [19]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, 16 to 196
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  28 non-null     object
 1   col0        28 non-null     object
 2   col1        28 non-null     object
 3   col2        28 non-null     object
 4   col3        28 non-null     object
 5   col4        28 non-null     object
 6   col5        28 non-null     object
 7   col6        28 non-null     object
 8   col7        28 non-null     object
 9   col8        28 non-null     object
 10  col9        28 non-null     object
 11  col10       28 non-null     object
 12  col11       28 non-null     object
 13  col12       28 non-null     object
 14  col13       28 non-null     object
 15  col14       28 non-null     object
 16  col15       28 non-null     object
 17  col16       28 non-null     object
 18  col17       28 non-null     object
 19  col18       28 non-null     object
 20  col19       28 non-null     float64
dtypes: float64(1), object(20)
memory usage: 4.8+ KB

In [27]:
new_df.size
new_df.head()

,Unnamed: 0,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col10,col11,col12,col13,col14,col15,col16,col17,col18,col19
16,16,0.8807276563790696,0.7133215621574106,0.9247882362767179,0.4796636378627942,0.7310953818190946,0.2788243165974974,0.6360091011696337,0.36200960420931594,0.04694482230634056,...,0.3866690496410734,0.5952000392007745,0.1462854750825705,0.4669653550895032,0.6115135049861836,0.46647810936457756,0.2521343134715821,0.5204060721229787,0.5655841834058064,0.543590
23,23,0.575575320478993,0.8223124686177459,0.32238179606662043,0.9105218912042584,0.9459771445389442,0.21504957797656044,0.03839080535109174,0.42786072645577966,0.45382361757870415,...,0.02713571545561899,0.43044580117169096,0.17299053574819068,0.01275187623556917,0.9771796021224075,0.2608994807291103,0.6079798036196596,0.6693432313116859,0.37859354332463324,0.721944
33,33,0.6455067108003656,0.0873791787897964,0.8550999869224472,0.20019634379217333,0.5611316971641529,0.4298542761049372,0.11582891576771637,0.15502080009570718,0.4120418907045651,...,0.130908738007955,0.06285221373321825,0.9991707364674326,0.43725031042354445,0.029567241141867373,0.9726201308099246,0.9266403374448877,0.5075458982932802,0.13144944458469277,0.267143
39,39,1.2501404022926177,0.7923302193062579,0.3724205151363791,0.7464716071236888,0.16993653461909264,0.16430447234298473,0.8772470709191594,0.039740801346274,0.6508013172746959,...,0.8828383474715544,0.3809959525671085,0.9499256541860834,0.04600873315707976,0.6897469003297372,0.8390625166217479,0.31373208507595896,0.4029837914278137,0.332940722918986,0.140493
40,40,1.1228251543371641,0.7157305877709652,0.6536118514130062,0.46926778290224613,0.4497389443091906,0.7800699914779802,0.9751069314166164,0.5495727697039756,0.3066418704524795,...,0.007117528273487439,0.7569821792105493,0.6548875645026261,0.24556902978689232,0.5695662859384268,0.06493542160668908,0.21881057330841303,0.03496420211258111,0.46045543259741006,0.948185

In [28]:
new_df.corr()

,Unnamed: 0,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col10,col11,col12,col13,col14,col15,col16,col17,col18,col19
Unnamed: 0,1.000000,-0.265628,-0.140071,-0.054166,-0.034079,-0.001503,0.438371,-0.204016,0.069067,0.377150,...,0.271119,0.127511,0.073234,0.091569,0.087439,-0.118849,0.106897,-0.309938,0.188292,-0.156893
col0,-0.265628,1.000000,0.467833,-0.214695,-0.021087,-0.250584,-0.262240,0.318771,-0.144527,-0.288885,...,-0.059054,0.144043,0.214756,-0.262630,0.021346,0.136817,-0.041901,-0.289596,-0.362371,0.092976
col1,-0.140071,0.467833,1.000000,-0.339818,0.205195,-0.082317,0.059196,0.025068,0.146264,-0.370827,...,-0.166645,0.123124,0.065248,-0.379540,0.425877,0.073407,-0.229488,0.017173,0.146445,-0.012583
col2,-0.054166,-0.214695,-0.339818,1.000000,-0.207022,0.161575,0.016907,-0.073919,-0.222593,0.086912,...,0.056162,-0.251072,0.187853,0.079425,-0.172688,-0.320270,0.133908,-0.069070,0.068200,-0.227560
col3,-0.034079,-0.021087,0.205195,-0.207022,1.000000,-0.113107,-0.087312,-0.110173,0.134940,0.211127,...,0.074047,0.080079,-0.350407,0.061799,0.189254,0.189721,0.083349,0.264453,0.069899,0.111718
col4,-0.001503,-0.250584,-0.082317,0.161575,-0.113107,1.000000,0.072078,-0.092839,0.180059,-0.117818,...,0.073518,0.134589,-0.070442,-0.113668,0.094173,-0.173519,-0.077151,0.223683,-0.098303,-0.183564
col5,0.438371,-0.262240,0.059196,0.016907,-0.087312,0.072078,1.000000,-0.195890,0.219766,0.085039,...,0.074597,0.266779,-0.087099,0.031879,0.269306,-0.103955,-0.297735,-0.118310,0.121938,-0.038452
col6,-0.204016,0.318771,0.025068,-0.073919,-0.110173,-0.092839,-0.195890,1.000000,-0.113273,-0.079118,...,-0.058010,0.112924,0.247364,-0.193602,-0.244821,0.051829,-0.321493,-0.155453,-0.372497,0.288775
col7,0.069067,-0.144527,0.146264,-0.222593,0.134940,0.180059,0.219766,-0.113273,1.000000,-0.142289,...,0.241156,0.026577,0.016546,-0.179003,-0.104889,0.159588,-0.039611,-0.036213,0.525922,0.141833
col8,0.377150,-0.288885,-0.370827,0.086912,0.211127,-0.117818,0.085039,-0.079118,-0.142289,1.000000,...,0.183682,0.000025,0.075625,0.065695,-0.247439,-0.263129,0.132349,0.150793,-0.041350,-0.034524
col9,-0.098881,0.277078,-0.055064,-0.199060,-0.482784,0.015232,-0.261970,0.276153,-0.173120,-0.193538,...,-0.208016,0.161583,0.059391,-0.224080,0.033579,0.070026,0.070212,-0.244266,-0.411836,-0.042479
col10,0.271119,-0.059054,-0.166645,0.056162,0.074047,0.073518,0.074597,-0.058010,0.241156,0.183682,...,1.000000,0.134550,0.116525,0.029207,-0.157981,0.226088,0.043027,-0.101035,0.237224,-0.153133
col11,0.127511,0.144043,0.123124,-0.251072,0.080079,0.134589,0.266779,0.112924,0.026577,0.000025,...,0.134550,1.000000,-0.554688,-0.066199,0.415693,0.092875,-0.288948,0.019936,0.025448,-0.107961
col12,0.073234,0.214756,0.065248,0.187853,-0.350407,-0.070442,-0.087099,0.247364,0.016546,0.075625,...,0.116525,-0.554688,1.000000,-0.303802,-0.550735,-0.065578,0.117713,-0.132520,-0.035524,-0.026096
col13,0.091569,-0.262630,-0.379540,0.079425,0.061799,-0.113668,0.031879,-0.193602,-0.179003,0.065695,...,0.029207,-0.066199,-0.303802,1.000000,-0.176870,0.041032,0.197010,0.072601,0.066989,0.141934
col14,0.087439,0.021346,0.425877,-0.172688,0.189254,0.094173,0.269306,-0.244821,-0.104889,-0.247439,...,-0.157981,0.415693,-0.550735,-0.176870,1.000000,-0.125583,-0.221965,-0.144068,-0.004637,-0.254645
col15,-0.118849,0.136817,0.073407,-0.320270,0.189721,-0.173519,-0.103955,0.051829,0.159588,-0.263129,...,0.226088,0.092875,-0.065578,0.041032,-0.125583,1.000000,-0.037291,0.015393,-0.048226,0.012932
col16,0.106897,-0.041901,-0.229488,0.133908,0.083349,-0.077151,-0.297735,-0.321493,-0.039611,0.132349,...,0.043027,-0.288948,0.117713,0.197010,-0.221965,-0.037291,1.000000,-0.200854,0.044652,0.097474
col17,-0.309938,-0.289596,0.017173,-0.069070,0.264453,0.223683,-0.118310,-0.155453,-0.036213,0.150793,...,-0.101035,0.019936,-0.132520,0.072601,-0.144068,0.015393,-0.200854,1.000000,0.216319,-0.031196
col18,0.188292,-0.362371,0.146445,0.068200,0.069899,-0.098303,0.121938,-0.372497,0.525922,-0.041350,...,0.237224,0.025448,-0.035524,0.066989,-0.004637,-0.048226,0.044652,0.216319,1.000000,-0.102927
col19,-0.156893,0.092976,-0.012583,-0.227560,0.111718,-0.183564,-0.038452,0.288775,0.141833,-0.034524,...,-0.153133,-0.107961,-0.026096,0.141934,-0.254645,0.012932,0.097474,-0.031196,-0.102927,1.000000